/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
}

.logo{
    /* color:#333;
    font-size: 1.5rem; */
    /* height: 300px; */
/* }

.nav-links{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links li{
    display: inline;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #00bcd4;
/* } */ 