.App{
    background-color: #ffffe5;
background-image: url("https://transparenttextures.com/patterns/binding-light.png");
}
.App.christmas-theme{
    background:url('https://unsplash.com/photos/assorted-type-of-leaves-lying-on-white-panel-VDXtVYJVj7A');
    background-size: cover;
}